* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body {
  /* display: grid;
  grid-template-rows: 2rem 1fr 1rem;
  grid-template-areas:
    "header"
    "main"
    "footer"; */
/* }  */

header {
  /* grid-area: header; */

  margin-bottom: 1rem;
}

h1 {
  text-align: center;
}

li {
  margin: 1rem;
}

.drumSets {
  position: relative;
  width: 100vw;
  height: 92.5vh;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: wait;
}

/* Iconos de arriba */
.playBtns {
  width: 2rem;
  height: 2rem;
}

/* Botones de arriba */
.iconBtns {
  background-color: transparent;
  padding: 1px 1.5px 1px 1.5px;
  border-radius: 25%;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* #recorder {
  background-color: greenyellow;
}

#stop {
  background-color: red;
} */

.durums {
  /* Con OPACITY ocultamos los botones */
  opacity: 0;
  width: 15rem;
  height: 15rem;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  cursor: url("/images/baqueta.png"), auto;
  animation: click 2s linear;
}

@keyframes baquetaMovement {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes martilloMovement {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.durums2 {
  opacity: 0;
  cursor: url("/images/martillo.png"), auto;
  animation: click 2s linear;
}

/* .cursor-click {
  animation: click 2s linear;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
} */

#crash {
  left: 13%;
  width: 20%;
  height: 28%;
}

#ride {
  left: 56%;
  width: 25%;
  height: 40%;
}

#crash2 {
  left: 72%;
  top: 24%;
  width: 25%;
  height: 38%;
}

#tomHigh {
  left: 33.2%;
  top: 15%;
  width: 12%;
  height: 22%;
}

#tomMid {
  left: 45%;
  top: 17%;
  width: 13%;
  height: 25%;
}

#tomLow {
  left: 52.1%;
  top: 45%;
  width: 17%;
  height: 29%;
}

#snare {
  left: 29%;
  top: 41%;
  width: 14.6%;
  height: 29%;
}

#hiHatOpen {
  left: 11%;
  top: 35%;
  width: 16%;
  height: 27%;
  right: 12%;
}

#hiHatClose {
  left: 28%;
  top: 68%;
  width: 5%;
  height: 23%;
  transform: rotate(-30deg);
}

#kick {
  left: 43%;
  top: 57%;
  width: 6%;
  height: 24%;
}

footer {
  grid-area: footer;
}

footer p {
  text-align: center;
}
